@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h2> @ViewData["Title2"] </h2>
    <h3> @ViewData["Nome"]</h3>
    <p> Email: <a href="http://https://mail.google.com/mail/u/0/?tab=rm&ogbl">@ViewData["Email"]</a></p>
</div>

<p>Use this page to detail your site's privacy policy.</p>
